:root {
  --color-accent: oklch(65% 50% 0);
}

/* enable automatic dark/light mode */
html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
  accent-color: var(--color-accent);
}

/* NAV */
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

/* FORM */
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* PROJECTS GRID */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
}

/* TYPOGRAPHY */
h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* SECTIONS */
section {
  margin-block: 2em;
}

section h2 {
  color: var(--color-accent);
  margin-bottom: 0.5em;
}

section article {
  margin-block: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid oklch(85% 3% 200);
}

article h3 {
  margin-bottom: 0.2em;
}

article header p {
  margin: 0.2em 0;
  color: inherit;
}

time {
  color: inherit;
  font-size: 0.95em;
}

/* LISTS */
ul {
  padding-left: 1.2em;
}

li {
  margin-block: 0.4em;
}


.color-scheme {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  background: canvas;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
}

select {
  font: inherit;
}

.year {
  font-style: italic;
  opacity: 0.7;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}